body {
	font-family: Roboto;
	font-size: 14px;
	letter-spacing: 0.03em;
	color: var(--main-black);
	background: var(--main-white);
}
.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
}
.section {
	padding: 94px 0;
}

.header {
	border: 1px solid #ececec;
}
.flex {
	display: flex;
	align-items: baseline;
}

.title {
	margin-bottom: 50px;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}

.socials {
	justify-content: center;
	align-items: center;
	gap: 10px;

	&__link {
		height: 44px;
		width: 44px;
		border-radius: 50%;
		justify-content: center;
		align-items: center;
		fill: rgba(175, 177, 184, 1);
		transition: background-color var(--common-anim-time) var(--common-cubic-bezier), fill var(--common-anim-time) var(--common-cubic-bezier);
	}

	&__link:hover,
	&__link:focus {
		background-color: var(--main-blue);
		fill: var(--main-white);
	}
}
.portfolio__heading {
	display: none;
}
