%btn {
	font-family: inherit;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-main);
	letter-spacing: 0.06em;
	text-align: center;
	line-height: 1.88;
	color: var(--main-white);
	background: var(--main-blue);
	box-shadow: 0px 4px 4px 0px #00000026;
	border: none;
	border-radius: 4px;
	transition: color var(--common-anim-time) var(--common-cubic-bezier), background var(--common-anim-time) var(--common-cubic-bezier);

	&:hover,
	&:focus {
		color: var(--main-black);
		background: var(--secondary-white);
		cursor: pointer;
	}
}
