:root {
	--font-family-accent: Raleway;
	--main-black: #212121;
	--main-grey: #757575;
	--main-white: #ffffff;
	--main-blue: #2196f3;
	--font-weight-bold: 700;
	--font-weight-regular: 500;
	--font-size-main: 16px;
	--secondary-white: #f5f4fa;
	--common-cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
	--common-anim-time: 2500ms;
}
